/venv/
.idea/
*/.idea/
.vscode/
*/__pycache__/*
*/migrations/*
*/P2/P2/*

# General
*.log
*.pdf
*.png

# IDE
.idea/ # PyCharm settings
.vscode/ # VSCode settings

# Python
*.pyc
env/
venv/

# Databases
# *.sqlite3

# JavaScript
node_modules/
build/ # Webpack build output
