/venv/
.idea/
*/.idea/
.vscode/
*/__pycache__/*
*/migrations/*

# General
*.log
*.pdf
# IDE
.idea/ # PyCharm settings
.vscode/ # VSCode settings

# Python
*.pyc
env/
venv/

# Databases
# *.sqlite3

# JavaScript
node_modules/
build/ # Webpack build output
